body {
	font-family: 'PT Mono' !important;
}

.site-header {
  background-color: #a7ffeb;
}

.logo svg {
  height: 150px;
  width: 150px;
}

#tagline {
  color: #607d8b;
}

a {
  color: #607d8b;
}

a:visited {
  color: #607d8b;
}
